/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF0CA;
    text-decoration: none;
}

body {
    background-color: #FFD900;
    font-family: 'JetBrains Mono';
}

.all-elements {
    border: 3px solid red;
}

.devider {
    background-color: violet;
    width: 100%;
    height: 5vh;
    margin-top: 5%;

    border: 2px solid rgb(150, 0, 219);
}

/* Header */
.logo-bar {
    width: 100%;
    height: 85px;
    background-color: #005246;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.25);

    border: 2px solid rgb(239, 125, 72);
}
.logo {
    font-family: 'Alex Brush';
    font-size: 70px;

    border: 1px solid aquamarine;
}

/* Side Navbar */
.side-navbar {
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    border: 3px solid hotpink;
}
.navbar {
    border: 2px solid indigo;
}
.btn {
    text-align: center;
    margin-top: 80px;
    padding: 15px;
    background-color: #005246;
    border-radius: 15px;
    
    border: 2px solid greenyellow;
}
.btn-text {
    font-size: 22px;
    
    border: 1px solid yellow;
}
.btn-pic {
    display: none;
}
.btn:hover {
    transform: scale(1.25);
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.6));
}
.btn:hover .btn-text {
    display: none;
}
.btn:hover .btn-pic {
    display: block;
}
.line {
    background-color: #B5A36E;
    height: 100%;
    width: 30px;
    position: absolute;
    top: 0%;
    z-index: -1;
}

/* This is for 'home' page */
.home-page {
    position: relative;
    border: 5px solid rgb(67, 247, 229);
}
/* Content */
.content {
    position: relative;
    margin-top: 7%;
    margin-left: 28%;
    width: 58.33%;
    
    border: 3px solid salmon;
}
.text-box {
    background-color: #B5A36E;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 3% 3% 1% ;

    border: 3px solid seagreen;
}
.bg-text-box {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 7%;
    top: 12%;
    z-index: -1;
    background-color: #FFF0CA;
    /* filter: blur(25px); */

    border: 3px solid saddlebrown;
}
.title, .description, .more-details {
    display: flex;
    align-items: center;
    margin-bottom: 5%;

    border: 2px solid rgb(214, 214, 4);
}
.title {
    font-size: 70px;
    font-weight: 700;
}
.title .title-name {
    font-size: 111px;
}
.description {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}
.more-details {
    font-size: 16px;
    font-weight: 200px;
    line-height: 21px;
    text-decoration: underline;
}

/* This is for 'about' page */
