/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html, body {    
    width: 100%;
    height: 100%;
    background-color: #FFF0CA;
    font-family: 'JetBrains Mono'; 
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF0CA;
    text-decoration: none;
    
    border: none !important;
}

.all-elements {

    border: 2px solid red;
}

/* Side Navbar */

.side-navbar {
    top: 0;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B5A36E;

    border: 2px solid hotpink;
}
.logo {
    width: 100%;
    height: 8.33vh;
    margin-top: 8.33vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */

    border: 1px solid aquamarine;
}
.logo a {
    color: #005246;
    font-size: 75px;
    font-family: 'Alex Brush';
}
.line-divider {
    background-color: #FFF0CA;
    width: 90%;
    height: 1px;
    margin-top: 10%;
    margin-bottom: 10%;
}
.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;

    border: 2px solid indigo;
}
.navbar a {
    width: 100%;
    margin-top: 20px;

    border: 3px solid rgb(43, 226, 162);
}
a.first-btn {
    margin-top: 0;
}
.btn {
    padding: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    
    border: 2px solid greenyellow;
}
.btn-text {
    font-size: 24px;
    font-weight: bold;
    
    border: 1px solid yellow;
}
.btn-pic {
    margin-left: 30px;
    margin-right: 20px;

    border: 1px solid lawngreen;
}
.btn:hover .hover-resize {
    transform: scale(1.3);
    /* filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.6)); */
}
.social {
    display: flex;

    border: 2px solid palevioletred;
}
.fa-brands {
    margin: 15px;
    font-size: 20px;
    color: #FFF0CA;
}

/* Content area of each page */
.content-area {
    padding-top: 8.33vh;
    /* margin-top: 8.33vh; */
    margin-left: 25%;
    margin-right: 8.33%;
    margin-bottom: 8.33vh;

    border: 2px solid rgb(67, 247, 229);
}

/* Header for each page */
.header {
    width: 100%;
    text-align: center;

    border: 2px solid teal;
}
.header h2 {
    color: #005246;
    font-size: 92px;
    line-height: 121px;

    border: 2px solid indianred;
}

/* ******************************************************** */

/* This is for 'home' page */
/* Content */
.home-content {
    position: relative;
    margin-top: 8.33vh;
    margin-bottom: 8.33vh;
    margin-left: 16.66vw;
    width: 58.33%;
    
    border: 2px solid salmon;
}
.text-box {
    background-color: #B5A36E;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    padding: 3% 3% 1% ;

    border: 2px solid seagreen;
}
.bg-text-box {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 7%;
    top: 12%;
    z-index: -1;
    background-color: #FFF0CA;
    /* filter: blur(25px); */

    border: 3px solid saddlebrown;
}
.title, .description, .more-details {
    display: flex;
    align-items: center;
    margin-bottom: 5%;

    border: 2px solid rgb(214, 214, 4);
}
.title {
    font-size: 70px;
    font-weight: 700;
}
.title .title-name {
    font-size: 111px;
}
.description {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}
.more-details {
    font-size: 16px;
    font-weight: 200px;
    line-height: 21px;
    text-decoration: underline;
}

/* ******************************************************** */

/* This is for 'about' page */

/* This is for every topic */
.topic {
    display: flex;
    align-items: center;
}
h3.topic-text{
    color: #005246;
    font-size: 25px;
    font-weight: 500;
    line-height: 33px;
    width: max-content;
    margin-right: 1%;
    
    border: 2px solid rgb(0, 47, 255);
}
.topic-line {
    background-color: #005246;
    height: 5px;
    flex: auto;
    
}

/* Personal Block */
.personal {
    margin-top: 8.33%;

    border: 2px solid orangered;
}
.topic, .personal-details {
    border: 2px solid olivedrab;
}
.personal-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.personal-details-text {
    font-weight: 300;
    line-height: 26px;
    width: 41.66%;
    padding: 3%;
    margin: 3% 0;
    border-radius: 50px;
    width: 57%;
    background-color: #B5A36E;

    border: 2px solid orchid;
}
.personal-details-pic {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    top: 200px;

    border: 2px solid rgb(45, 45, 45);
}
.personal-details-pic img {
    position: relative;
    top: -60px;
}

/* Education Block */
.edu {
    border: 2px solid rgb(252, 0, 206);
}
.edu-details {
    /* display: flex;
    align-items: center;
    justify-content: space-around; */

    border: 2px solid saddlebrown;
}
/* KMITL */
.kmitl {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3% 0;

    border: 2px solid teal;
}
.kmitl-timeline {
    width: 65%;
    font-weight: 300;
    line-height: 26px;
    padding: 3%;
    border-radius: 50px;
    background-color: #B5A36E;
}
.kmitl-timeline .indent {
    text-indent: 125px;
}
.kmitl-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 2px solid black;
}
.kmitl-pic img {
    position: relative;
    right: 8px;
}
/* DSU */
.dsu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3% 0;

    border: 2px solid #005246;
}
.dsu-timeline {
    font-weight: 300;
    line-height: 26px;
    padding: 3%;
    border-radius: 50px;
    background-color: #B5A36E;
    display: flex;
    align-items: center;
}
.dsu-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #FFF;

    border: 2px solid black;
}

/* Skills Block */
i {
    color: #005246;
    margin-right: 10%;
    font-size: 10px;
}

.skills {
    margin-bottom: 8.33vh;
    
    border: 2px solid rgb(51, 7, 227);
}
.skills-details {
    background-color: #B5A36E;
    border-radius: 50px;

    border: 2px solid slateblue;
}
.skills-details-text {
    font-weight: 300;
    line-height: 26px;
    padding: 2%;
}
.skills-details-lan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border: 2px solid plum;
}
.lan-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}
.first-col, .second-col {
    
    border: 2px solid rgb(208, 21, 37);
}
.html, .css, .js, .py, .node, .sql {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: 4%; */

    border: 1px solid pink;
}

/* ******************************************************** */

/* This is for 'project' page */
.header-description {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(15, 235, 85);
}
.header-description p {
    color: #005246;
}
.header-description .line {
    background-color: #005246;
    width: 35%;
    height: 1px;
}
.work-container {
    height: 180px;
    display: flex;
    margin: 3% 0;

    border: 1px solid slateblue;
}
.work-text, .work-pic {
    width: 50%;
    height: 100%;
    border: 1px solid sienna;
}
.work-text {
    display: flex;
    flex-direction: column;
}
.work-name, .work-detials, .work-link {
    width: 100%;
    height: 60px;

    border: 1px solid seagreen;
}

/* ******************************************************** */

/* This is for 'contact' page */
.msg-form {
    margin-top: 8.33vh;
    margin-bottom: 3%;

    border: 2px solid aqua;
}
::placeholder {
    color:  #005246;
    font-weight: 100;
  }
input[type=text] {
    background-color: #FFF0CA;
    border: 1px solid #005246;
    height: 1.5rem;
}
input[type=submit] {
    background-color: #005246   ;
}
form {
    /* text-align: center; */
    margin: 0 auto;
    width: max-content; 

    border:  2px solid #005246;
}