

html, body {    
    width: 100%;
    height: 100%;
    background-color: #FFF0CA;
    font-family: 'JetBrains Mono'; 
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF0CA;
    text-decoration: none;
    
    /* border: none !important; */
}

.all-elements {

    border: 2px solid red;
}

/* Navbar */

.bar {
    top: 0;
    position: fixed;
    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B5A36E;

    /* border: 2px solid hotpink; */
}
a.logo {
    color: #005246;
    font-size: 75px;
    font-family: 'Alex Brush';
    width: 100%;
    height: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;

    /* border: 1px solid aquamarine; */
}
.line-divider {
    background-color: #FFF0CA;
    width: 90%;
    height: 1px;
    margin-top: 10%;
    margin-bottom: 10%;
}
.navbar {
    /* width: 100%; */
    display: flex;
    flex-direction: column;

    border: 2px solid indigo;
}
.navbar a {
    /* width: 100%; */
    margin-top: 20px;

    border: 3px solid rgb(43, 226, 162);
}
a.first-btn {
    margin-top: 0;
}
.btn {
    padding: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    
    /* border: 2px solid greenyellow; */
}
.btn-text {
    font-size: 24px;
    font-weight: bold;
    
    /* border: 1px solid yellow; */
}
.btn-pic {
    margin-left: 30px;
    margin-right: 20px;

    /* border: 1px solid lawngreen; */
}
.btn:hover .hover-resize {
    transform: scale(1.3);
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.3));
}
.navbar a.icon {
    display: none;
}
.social {
    display: flex;
    justify-content: space-around;
    width: 100%;

    /* border: 2px solid palevioletred; */
}
/* .instagram, .facebook, .twitter, .github {
    
    border: 1px solid black;
} */
.fa-brands {
    font-size: 21px;
    color: #FFF0CA;
}

/* Content area of each page */
.content-area {
    padding-top: 8.33vh;
    margin-left: 25%;
    margin-right: 8.33%;
    margin-bottom: 8.33vh;

    border: 2px solid rgb(67, 247, 229);
}

/* Header for each page */
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid teal; */
}
.header h2 {
    color: #005246;
    font-size: 92px;

    /* border: 2px solid indianred; */
}

/* Subtitle for each page */
.subtitle {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 2px solid rgb(15, 235, 85); */
}
.subtitle p {
    color: #005246;
    text-align: center;
}
.subtitle .line {
    background-color: #005246;
    width: 22%;
    height: 1.5px;
}

/* topic in each page */
.topic {
    display: flex;
    align-items: center;
}
h3.topic-text{
    color: #005246;
    font-size: 25px;
    font-weight: 500;
    width: max-content;
    margin-right: 1%;
    
    /* border: 2px solid rgb(0, 47, 255); */
}
.topic-line {
    background-color: #005246;
    height: 5px;
    flex: auto;
}

/* ******************************************************** */

/* This is for 'home' page */
/* Content */
.home-content {
    position: relative;
    margin-left: 16.66vw;
    margin-bottom: 8.33vh;
    padding-bottom: 8.33vh;

    border: 2px solid salmon;
}
.text-box {
    background-color: #B5A36E;
    border-radius: 30px;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.25);
    padding: 30px 30px 0 30px;

    border: 2px solid seagreen;
}
.title, .description, .more-details {
    margin-bottom: 30px;

    border: 2px solid rgb(214, 214, 4);
}
.title {
    font-size: 60px;
    font-weight: 700;
    display: block;
}
.title-name {
    font-size: 111px;
    text-align: center;
}
.description {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}
.more-details {
    font-size: 16px;
    font-weight: lighter;
    text-decoration: underline;
}

/* ******************************************************** */

/* This is for 'about' page */

/* Personal Block */
/* .personal {
    margin-top: 8.33%;

    border: 2px solid orangered;
} */
/* .topic, .personal-details {
    border: 2px solid olivedrab;
} */
.personal-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.personal-details-text {
    padding: 3%;
    margin: 3% 0;
    border-radius: 30px;
    width: 57%;
    background-color: #B5A36E;

    /* border: 2px solid orchid; */
}
.personal-details-text p {
    font-weight: 300;
    line-height: 1.5rem;
}
.personal-details-pic {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    top: 200px;

    /* border: 2px solid rgb(45, 45, 45); */
}
.personal-details-pic img {
    position: relative;
    top: -60px;
}

/* Education Block */
/* .edu {
    border: 2px solid rgb(252, 0, 206);
} */
/* .edu-details {
    display: flex;
    align-items: center;
    justify-content: space-around;

    border: 2px solid saddlebrown;
} */
.pic-container {
    margin-right: 45px;
    border: 1px solid black;
}
.school {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin: 3% 0;

    border: 2px solid teal;
}
.school-timeline {
    width: 100%;
    font-weight: 300;
    line-height: 1.5rem;
    padding: 15px;
    border-radius: 30px;
    background-color: #B5A36E;
    display: flex;

    /* border: 1px solid black; */
}
.timeline-container {
    border: 1px solid black;
}
/* KMITL */
.timeline, .timeline-details {
    border: 1px solid #005246;
}
.timeline {
    min-width: fit-content;
}
.kmitl-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    /* border: 2px solid black; */
}
.kmitl-pic img {
    position: relative;
    right: 8px;
}
/* DSU */
.dsu-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #FFF;

    /* border: 2px solid black; */
}

/* Skills Block */
i {
    color: #005246;
    margin-right: 10%;
    font-size: 10px;
}

.skills {
    margin-bottom: 8.33vh;
    
    /* border: 2px solid rgb(51, 7, 227); */
}
.skills-details {
    background-color: #B5A36E;
    border-radius: 30px;
    padding: 15px;

    /* border: 2px solid slateblue; */
}
.skills-details-text {
    font-weight: 400;
    font-size: 16px;
    padding: 5px;
}
.skills-details-lan {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    /* border: 2px solid plum; */
}
.lan-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 2rem;
}
/* .first-col, .second-col {
    
    border: 2px solid rgb(208, 21, 37);
} */
.lan {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: 4%; */

    /* border: 1px solid pink; */
}

/* ******************************************************** */

/* This is for 'project' page */
.work-container {
    height: 180px;
    display: flex;
    margin: 3% 0;

    border: 1px solid slateblue;
}
.work-text, .work-pic {
    width: 50%;
    height: 100%;
    border: 1px solid sienna;
}
.work-text {
    display: flex;
    flex-direction: column;
}
.work-name, .work-detials, .work-link {
    width: 100%;
    height: 60px;

    border: 1px solid seagreen;
}

/* ******************************************************** */

/* This is for 'contact' page */
.form {
    padding: 5% 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 2px solid red; */
}
.form-block {
    /* margin-bottom: 22%; */
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.1);

    /* border: 2px solid black; */
}
.row {
    /* margin: 3% 0; */
    padding: 3%;

    /* border: 1px solid palevioletred; */
}
.first-row {
    display: flex;
}
.name-field {
    margin-right: 5%;
}
.name-field, .subject-field {
    width: 20vw;

    /* border: 1px solid black; */
}
::placeholder, input[type=text] {
    color:  #005246;
    font-size: 14px;
}
.row input[type=text] {
    background-color: #FFF0CA;
    border: 1px solid #005246;
    height: 2rem;
    width: 100%;
    padding-left: 0.5em;
}
#message {
    height: 120px;
}
#message::placeholder {
    float: left;
    padding-top: 5px;
}
.send-btn {
    text-align: end;
}
input[type=submit]:hover {
    color: #005246;
    background-color: #FFF0CA;
    font-weight: bold;
    border: 2px solid #005246;
    
}
input[type=submit] {
    background-color: #005246;
    padding: 8px 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* For Mobile */
@media only screen and (max-width: 900px) {
    /* .all-elements {
        width: 100vw;
    } */

    /* fixed position navbar */
    .bar {
        width: 100vw;
        height: 70px;
        flex-direction: row;
        justify-content: center;
        z-index: 1;

        border: 2px solid hotpink;
    }
    a.logo {
        font-size: 60px;
        margin-top: 0;
    
        border: 1px solid aquamarine;
    }
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        border: 2px solid rgb(221, 47, 47);
    }
    .navbar a {
        display: none;
        margin-top: 0;
    
        border: 2px solid indigo;
    }
    .navbar a.icon {
        display: block;
        text-align: right;
    }
    .fa-bars {
        color: #005246;
        font-size: 25px;
    }
    .social {
        display: none;
        /* display: flex;
        justify-content: space-around;
        width: 100%; */
    
        /* border: 2px solid palevioletred; */
    }
    .line-divider {
        display: none;
    }

    /* Content area of each page */
    .content-area {
        margin: 0 50px 8.33vh 50px;
    }

    /* Header for each page */
    /* .header {

        border: 2px solid teal;
    } */
    .header h2 {
        font-size: 50px;

        border: 2px solid indianred;
    }

    /* Subtitle for each page */
    .subtitle {
        margin-top: 15px;
        margin-bottom: 15px;

        border: 2px solid rgb(15, 235, 85);
    }
    .subtitle p {
        font-size: 12px;
        font-weight: 200;
    }

    /* topic in each page */
    .topic {

        border: 1px solid orangered;
    }
    h3.topic-text{
        font-size: 16px;
        font-weight: 500;
        
        border: 2px solid rgb(0, 47, 255);
    }
    .topic-line {
        height: 2px;    
    }

    /* ----------------------------------- */
    /* Home page */
    /* ----------------------------------- */

    .home-content {
        margin-top: 8.33vh;
        margin-left: 0;
        margin-bottom: 8.33vh;
        padding-bottom: 8.33vh;
        /* width: 100vw; */
    }
    .title, .description, .more-details {
        margin-bottom: 30px;
    }
    .title {
        font-size: 40px;
        font-weight: 400;
    }
    .title-name {
        font-size: 70px;
        text-align: center;
        font-weight: bold;
    }
    .description {
        font-weight: 300;
        font-size: 14px;
    }
    .more-details {
        font-size: 12px;
    }

    /* ----------------------------------- */
        /* About page */
    /* ----------------------------------- */


    /* Personal Block */
    .personal {

        border: 2px solid orangered;
    }
    .topic, .personal-details {

        border: 2px solid olivedrab;
    }
    .personal-details {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        padding: 20px 0;

        justify-content: space-around;
    }
    .personal-details-text {
        padding: 15px;
        margin: 10px 0;
        width: 100%;
    
        border: 2px solid orchid;
    }
    .personal-details-text p {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5rem;
    }  
    .personal-details-pic {
        overflow: hidden;
        width: 120px;
        height: 120px;
        top: 0;

        border: 2px solid rgb(45, 45, 45);
    }
    .personal-details-pic img {
        position: relative;
        top: -35px;
    }

    /* Education Block */
    .edu {
        border: 2px solid rgb(252, 0, 206);
    }
    .edu-details {
        /* display: flex;
        align-items: center;
        justify-content: space-around; */

        border: 2px solid saddlebrown;
    } 
    .pic-container {
        margin-right: 45px;

        border: 1px solid black;
    }
    .school {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
    
        border: 2px solid teal;
    }
    .timeline-container {
        width: 100%;
        border: 1px solid black;
    }
    .school-timeline {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-weight: 300;
        font-size: 14px ;
        line-height: 1.5rem;
        padding: 15px;
        border-radius: 30px;
        background-color: #B5A36E;
    
        border: 1px solid red;
    }
    /* KMITL */
    .timeline, .timeline-details {
        border: 1px solid #005246;
    }
    .timeline, .timeline-details {
        min-width: fit-content;
        text-align: center;
    }
    .timeline span {
        display: none;
    }
    .kmitl-pic {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        /* border: 2px solid black; */
    }
    .kmitl-pic img {
        position: relative;
        right: 8px;
    }
    /* DSU */
    .dsu-pic {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        background-color: #FFF;
    
        /* border: 2px solid black; */
    }
    
    /* Skills Block */
    i {
        font-size: 8px;
    }
    .skills-details {
        background-color: #B5A36E;
        border-radius: 30px;
        padding: 10px;

        border: 2px solid slateblue;
    }
    .skills-details-text {
        font-size: 14px;
        font-weight: 300;
    }
    .lan-text {
        font-size: 12px;
    }

    /* ----------------------------------- */
        /* Contact page */
    /* ----------------------------------- */

    /* This is for 'contact' page */
    .form {
        padding: 35px 0 25px;
        display: block;
        align-items: center;

        /* border: 2px solid red; */
    }
    .form-block {
        box-shadow: none;

        /* border: 2px solid black; */
    }
    .row {
        /* margin: 3% 0; */
        padding: 0;

        /* border: 1px solid palevioletred; */
    }
    .first-row {
        display: block;
    }
    .name-field, .subject-field {
        width: 100%;

        /* border: 1px solid black; */
    }
    ::placeholder, input[type=text] {
        color:  #005246;
        font-size: 13px;
    }
    .row input[type=text] {
        margin-bottom: 10px;
    }
    #message {
        height: 100px;
    }
    .send-btn {
        text-align: center;
    }
    input[type=submit] {
        background-color: #005246;
        padding: 8px 18px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }
}

